body {
  background-color: white;
}


header {
  text-align: center;
  border: 3px solid black;
  width: 400px;
  margin: 0 auto;
}

.nav {
  font-family: Helvetica;
  background-color: DeepSkyBlue;
  width: 400px;
  border: 3px solid black;
  margin: 0 auto;
}

.nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type : none;
}

.nav li {
  font-weight: 100; 
  padding: 5px;
  width: 10px;
  border: 1px solid black;
  display: inline-block;
}

.nav li:hover{
  background-color: white;
  border: 1px solid black;
  font-weight: 150;
}

h1 {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  color: maroon;
}

.intro p{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  font-family: Helvetica;
}

.nav ul li a{
  text-decoration: none;
  color: black:
}

header h1 a{
  text-decoration: none;
  color: black;
}

.aboutme{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  font-family: Helvetica;
}

.aboutme ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type : none;
}

.post {
  display: inline-block;
  text-align: center;
  font-family: Helvetica;
  border: 1px solid black;
}
